body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

.name {
    color: rgb(231, 86, 34);
}

.flex {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150;
    justify-items: center;
    background-size: cover;
}

.hire {
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;
    background-image: linear-gradient(rgba(238, 56, 56, 0.788), orange);
}

.shadow {
    box-shadow: 10px 5px 40px black;
    width: 40%;
    margin: 5%;
    padding-left: 20px;
}

.l-brdr {
    border-left: 5px solid tomato;
}

.r-brdr {
    border-left: 5px solid blue;
}

.banner {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.drm-bannr {
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-bnnr {
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.adjst1 {
    margin-left: 40px;
}

.adjst2 {
    margin: 60px;
}

.txt {
    color: gray;
    font-weight: 800;
}

.be {
    color: brown;
    font-size: 30px;
}